# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
venv
dist-ssr
*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea
.bolt/
*.bolt
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Local environment
venv/
env/
.env

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Cached data
*.pkl
